.btn-picker{
    background-color: #0D1D38;
    color: #586E94;
    font-size: 17px;
    border-radius: 10px;
    height: 43px;
    border: 1px solid #586E94;
    position: absolute;
    padding: 0;
}

.btn-picker:focus, .btn-picker:hover{
    outline: none;
    background-color: #253755;
}

.sm{
    padding: 8px 44px 8px 0;
    min-width: 137px;
}

.btn-picker > .left-arrow{
    width: 14px;
    position: absolute;
    right: 11px;
    top: 50%;
    transform: translateY(-50%);
}

.options-container{
    width: 100%;
    position: relative;
    z-index: 10;
    bottom: 6px;
    margin-left: -1px;
    margin-right: -1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    border: 1px solid #586E94;

}

.option-selectable{
    background-color: #253755;
    width: 100%;
    padding: 7px;
    border-top: 1px solid #586E94;
    border-bottom: 1px solid #586E94;
}